# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Node / Next.js
frontend/my-app/.next/
frontend/my-app/node_modules/
frontend/node_modules/
frontend/my-app/.env.local

# OS
.DS_Store

# Docker
*.dockerfile
.dockerignore
